.modal-body-main {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    width: 93%;
    margin: auto;
    height: 550px;
    overflow-y: scroll;
    background-color: lightsteelblue;
    border-radius: 12px;
}

.modal-header-style {
    border-bottom: 0;
}

.modal-dialog-style {
    max-width: 800px;
}

.image-input {
    border: 0;
    background-color: lightsteelblue
}

.img-output {
    border: 2px solid #bb3548;
    border-radius: 12px;
    background-color: white;
}

#images {
    margin: 10px;
    border: 5px;
    box-shadow: 3px 3px 7px grey
}

#avatar-edit {
    border: 0;
    background-color: lightsteelblue
}


/* modal-role-add */

.lable-checkbox {
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: sub
}

.card-header-sty {
    background-color: #47d2d2;
}

.card-body-wrapper {
    margin: 0!important
}


/* modal-role-edit */