.tittle-header {
    margin: 10px 0;
    font-family: 'Font Awesome 5 Free';
    color: #22b2c1;
}

.content-header .breadcrumb {
    position: relative
}

.btn-search {
    color: aquamarine;
    background-color: #bdbdbd
}

.btn-add {
    right: 0;
    position: absolute
}

.btn-add a {
    color: white
}

#error-ajax {
    width: 100%;
    display: none
}

.row-table {
    padding: 0px;
    margin: 0px;
}

.table-content {
    box-shadow: 15px 5px 5px #ada1a1;
    background-color: #cecece;
    border-radius: 7px;
}

.img-table-col {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.select2-selection__choice {
    background-color: darkcyan !important;
}

.loader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/loader/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}