
/* ----MODAL---- */
.modal-body1  {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    width: 93%;
    margin: auto;
    height: 550px;
}
.modal-body2  {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;width: 93%;margin: auto;height: 550px;overflow-y: scroll
}

.modal-row {
    margin-left: 0;
    width: 100%;
    height: 100%;/*! max-width: ; */
    max-height: 500px;
    overflow: scroll;
}
.img-modal-row {
    width: 100%;
    height: 100%;
    object-fit: contain
}
.name-product-modal {
    font-family: initial;/*! font-style: italic; */
    font-weight: bold;
}
.name-category-modal {
    font-size: larger;/*! font-style: unset; */
    font-weight: bold;
}
.img-output {
    object-fit: contain;border-radius: 10px;border: 2px solid cornflowerblue;background-color: white;
}
span.fa.fa-star.checked {
    color: orange;
}

/* ----END-MODAL---- */